@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #1d1f21;
  @apply text-p-gray;
}

@supports (-webkit-text-stroke: 2px #1d1f21) {
  .stroke-blue {
    -webkit-text-stroke: 2px #33b1ff;
    -webkit-text-fill-color: #1d1f21;
  }
}
